<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">
	<context:property-placeholder location="classpath:/mybatis/mybatis.properties" />

	<bean name="dataSource" class="org.apache.tomcat.jdbc.pool.DataSource"
		destroy-method="close">
		<property name="driverClassName" value="${jdbc.driver}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		<property name="initialSize" value="${jdbc.min.size}" />
		<property name="maxActive" value="${jdbc.max.size}" />
		<property name="maxIdle" value="5" />
		<property name="minIdle" value="2" />
	</bean>

	<!-- transaction manager -->
	<!-- DAO 보다는 가급적 DAO를 호출하는 Service Interface의 Insert, Update, Delete 메소드 
		선언할 때 @Transactional 설정 -->
	<!-- dataSource를 TransactionManager에 할당한다 -->
	<!-- <context:annotation-config/> <tx:annotation-driven transaction-manager="transactionManager" 
		/> <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager"> 
		<property name="dataSource" ref="dataSource"></property> </bean> -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.sindorim.abilityocean.dao" />
	</bean>	

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mapperLocations" value="classpath:/mapper/*_SQL.xml" />
		<property name="configLocation" value="classpath:/mybatis/mybatis-config.xml" />
	</bean>
	<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactory" />
	</bean>
</beans>
<!-- http://mobicon.tistory.com/383 : 관련 고도화 정보 블로그 -->
